#body{
    width: 635px;
    margin-left: 25%;
    display: flex;
    flex-wrap: wrap;
}
table td{
    border: 1px solid black;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    color: black;
    transition: all;

}
table td:hover{
    background-color: black;
    color: white;
}